<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>LLM Proxy Interface</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>
<body>
  <h1>LLM Proxy Interface</h1>
  <div class="container">
    <form id="mainForm" method="post" action="{{ url_for('main_bp.result') }}">
      <label>System Prompt:<br>
        <textarea class="main-container" name="system_prompt" id="system_prompt" rows="4">{{ system_prompt }}</textarea>
      </label><br>
      <label>Your Request:<br>
        <textarea class="main-container" name="user_request" id="user_request" rows="4">{{ user_request }}</textarea>
      </label><br>
      <button type="submit" name="action" value="go" class="button-primary">GO</button>
    </form>
  </div>
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>